<!DOCTYPE html>
<html lang="en">
<head>
  <title>AXE Bot | Make payment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <center>
    <h1>AXE Bot - Make payment</h1>
    <br><br><br><br><br><br><br>
    <form action="/make-payment" method="post">
      <p><input type=text class="form-control" name=bot_id placeholder="Your bot_id">
      <p><input class="btn btn-success" role="button" type=submit value=Submit>
    </form>
    <br><br>
    <p><a href="https://github.com/alex-bormotov/AXE-Bot/blob/master/FAQ.md#what-do-i-need-to-use-for-login" class="btn btn-default" role="button">I don't know my bot_id</a></p>
    </center>
  </div>
</body>
</html>
